*{margin: 0;padding: 0;}


                                
                                                                                          
                                   /*PRESTAR ATENCIÓN QUE EL ARCHIVO CSS LO PUSE DENTRO DE OTRA CARPETA, CAMBIAR EL LINK DE CADA ARCHIVO*/

                                



                                         /*ESTILOS SECCION CONTACTO*/






                                        /*MEDIA QUERIE*/

                                        /*SE APLICA SOLO A LA SECCION MUSICA PORQUE TIENE BACKGROUND COLOR*/
@media screen and (max-width: 490px){
        body{background-color: green;}
}
                                        /*DESAPARECE  SECCIÓN ASIDE EN INDEX*/
@media screen and (max-width: 490px) and (min-height:810px){
        .asideindex{display: none;}
}