*{margin: 0;padding: 0;}
                /*ESTILOS INDEX*/

        /*HEADER*/
header nav ul li{display: inline;}
nav ul li a{font-size: 2em;text-decoration: none; color: blue;background-color:aqua;display:inline;padding-left: 2em; padding-right: 2em;}
        /*FIN HEADER*/

        /*COMIENZA BODY*/
body{background-color:white;}
@font-face {
    font-family: letradelbody;
    src: url(/Work_Sans/WorkSans-VariableFont_wght.ttf);}

        /*SECCION-UNO-BODY*/
h1{font-size: 5em; background-image:url("/imagenes/portada-asimov.jpg"); background-attachment:fixed;background-repeat: round;color:aqua; padding: 7%;}
.textoindex{font-size: 2em ; font-style: italic; font-family:letradelbody ; color:black;}

        /*SECCION-DOS-BODY*/
 h2{color:white;background-color:blue ;}
.novpad {width: 20%;}
.novquinto {width: 20%;}
.novstars {width: 20%;}
.novedades{display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-around; background-color:black;}

.mvharry {width: 20%;}
.mvnano {width: 20%;}
.mvbastille {width: 20%;}
.masvendidos {display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-around;background-color:black ;}

        /*FOOTER*/



                 /* ESTILOS SECCION LIBROS*/
.caminantesl{width: 20%;} 
.yorobotl{width: 20%;}
.unmundol{width: 20%;}
.georgel{width: 20%;}
.harryl{width: 20%;}
.dunal{width: 20%;}

        /*FLEX-TEXTO-DE-IMAGENES*/
.parribaflex{display: flex;flex-direction: row; flex-wrap: wrap; justify-content: space-around;color: yellowgreen;text-decoration: none;font-size: 2em}
.pabajoflex{display: flex;flex-direction: row; flex-wrap: wrap; justify-content: space-around;color: yellowgreen;text-decoration: none;font-size: 2em}
        /*FLEX-IMAGENES*/
.flexarriba { margin-bottom: 0.5em; display: flex;flex-direction: row; flex-wrap: wrap; justify-content: space-around;}
.flexabajo {margin-top: 3em; display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-around;}

                /*ESTILOS SECCION MUSICA*/
.bastillem{width: 20%;}
.nanom{width: 20%;}
.nicom{width: 20%;}
.parachutesm{width: 20%;}
.thepeggiesm{width: 20%;}
.imaginem{width: 20%;}

.musicap{color: yellowgreen;text-decoration: none;font-size: 2em ;padding-left: 4em;}
/*grids*/
.contenedorpadremusica{display: grid;grid-template-areas:
        "heamus titum titum titum"
        "heamus divam divam asidem"
        "heamus "
        "heamus divbm divbm asidem"
        "foota foota foota foota";}

.headmus{grid-area: heamus;}
.timusica{grid-area:titum}
.div-a{grid-area:divam;display: flex;flex-wrap: wrap; flex-direction: row;margin-bottom: 5em;}
.div-b{grid-area: divbm;display: flex;flex-wrap: wrap; flex-direction: row;}
.asidemu{grid-area: asidem;}
.redesclase{grid-area: foota;}
.musicap-a {}
                /*ESTILOS SECCION PELICULAS*/
/*grids*/
.bodypeliculas{display: grid;grid-template-columns: 200px 1fr auto 200px; grid-template-rows: 200px 20rem 20rem 20 rem;grid-template-areas: 
"nav hea hea hea"
"nav secu secu aside"
"nav musicap-a musicap-a aside"
"nav secb secb aside"
"nav musicap-b musicap-b aside"
"nav foo foo foo";}

.headerpeliculas{grid-area: nav; background-color: blue;}
.titulopeliculas{grid-area: hea;}
.seccionpeliculas{grid-area: secu;background-color: brown;display: flex;flex-direction: row;margin-bottom: 5em;}
.seccionpeliculasb{grid-area: secb; background-color: beige;display: flex;flex-direction: row;}
aside{grid-area: aside; background-color:black; color: white;}
.footerpeliculas{grid-area: foo; background-color: aqua;}

.musicap-a{grid-area:musicap-a;display: flex;flex-direction: row;}
.musicap-b{grid-area:musicap-b;display: flex;flex-direction: row;}

.yop{width: 20%;}
.residentp{width: 20%;}
.slumdogp{width: 20%;}
.readyp{width: 20%;}
.terminatorp{width: 20%;}
.harryp{width: 20%;}

.pelip {color: yellowgreen;text-decoration: none;font-size: 2em ;padding-left: 4em}


        /*ESTILOS SECCION CONTACTO*/
.contactobordes{margin-bottom: 1em; border: 4px solid blue; color: blue;}

.bordemapa{border: 4px solid blue;display: inline-block;}





