*{margin: 0;padding: 0;}
                                         /*ESTILOS INDEX*/

        /*HEADER*/
header nav ul li{display: inline;}
nav ul li a{font-size: 2em;text-decoration: none; color: blue;background-color:aqua;display:inline;padding-left: 2em; padding-right: 2em;}
        /*FIN HEADER*/

        /*COMIENZA BODY*/
body{background-color:white;}
@font-face {
    font-family: letradelbody;
    src: url(/Work_Sans/WorkSans-VariableFont_wght.ttf);}
                /*GRIDS INDEX*/
.contenedorgridindex{display: grid;grid-template-areas:
        "headerindex headerindex headerindex headerindex"
        "tituloindex tituloindex tituloindex tituloindex"
        "textoindex textoindex textoindex asideindex"
        "novedades novedades novedades asideindex"
        "masvendidos masvendidos masvendidos asideindex"
        "footerindex footerindex footerindex footerindex";}

.headerindex{grid-area: headerindex;}
.tituloindex{grid-area: tituloindex}
.textoindex{grid-area: textoindex}
.novedades{grid-area: novedades}
.asideindex{grid-area: asideindex}
.masvendidos{grid-area: masvendidos}
.footerindex{grid-area: footerindex}

                /*SECCION-UNO-BODY*/
h1{font-size: 5em; background-image:url("/imagenes/portada-asimov.jpg"); background-attachment:fixed;background-repeat: round;color:aqua; padding: 7%;}
.textoindex{font-size: 2em ; font-style: italic; font-family:letradelbody ; color:black;}

        /*SECCION-DOS-BODY*/
 h2{color:white;background-color:blue ;}
.novpad {width: 20%;}
.novquinto {width: 20%;}
.novstars {width: 20%;}
.novedades{display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-around; background-color:black;}

.mvharry {width: 20%;}
.mvnano {width: 20%;}
.mvbastille {width: 20%;}
.masvendidos {display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-around;background-color:black ;}

        /*FOOTER*/



                                         /* ESTILOS SECCION LIBROS*/
.caminantesl{width: 18em;} 
.yorobotl{width: 18em;}
.unmundol{width: 18em;}
.georgel{width: 18em;}
.harryl{width: 18em;}
.dunal{width: 18em;}




/*grid libros*/
.gridpadrelibros{display: grid;grid-template-areas: 
"nav nav nav nav"
"titulo titulo titulo titulo"
"sa sa sa asidee"
"sb sb sb asidee"
"fter fter fter fter";}

.headerlibros{grid-area: nav;}
.titulolibros{grid-area:titulo;}
.sa{grid-area: sa;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows:3fr 0.5fr 0.5fr 0.5fr ;}
.sb{grid-area: sb;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows:3fr 0.5fr 0.5fr 0.5fr;}
.asidee{grid-area: asidee;}
.fter{grid-area:fter}

                                            /*ESTILOS SECCION MUSICA*/
/*estilos imagenes*/                                          
.bastillem{width: 18em;margin-top: 4em;}
.nanom{width: 18em;margin-top: 4em;}
.nicom{width: 18em;margin-top: 4em;}
.parachutesm{width: 18em;margin-top: 4em;}
.thepeggiesm{width: 18em;margin-top: 4em;}
.imaginem{width: 18em;margin-top: 4em;}

/*estilos info de imagenes seccion a*/
@font-face {
        font-family: robotomusica;
        src: url(/Roboto/Roboto-Black.ttf);}

.tituloalbum{font-family:robotomusica; font-weight: bolder;}
.cantante{font-family:robotomusica;font-weight: bold; color: gray;}
.precioalbum{font-family:robotomusica;color: red;}


/*estilos info de imagenes seccion b*/


/*grids*/
.contenedorpadremusica{display:grid; grid-template-areas:
        "headmus headmus headmus headmus"
        "timusica timusica timusica aside"
        "diva diva diva aside"
        "divb divb divb aside"
        "foota foota foota foota";}

.headmus{grid-area: headmus;display: flex; justify-content:space-around;}
.timusica{grid-area:timusica;}
.diva{grid-area:diva;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;}
.divb{grid-area: divb;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;}
.aside{grid-area: aside;background-color:blue}
.redesclase{grid-area: foota;background-color: red}





                                              /*ESTILOS SECCION PELICULAS*/

.yop{width: 18em;}
.residentp{width: 18em;}
.slumdogp{width: 18em;}
.readyp{width: 18em;}
.terminatorp{width: 18em;}
.harryp{width: 18em;}

/*grids*/
.gridpadrepeliculas{display:grid; grid-template-areas:
"nav nav nav nav"
"hea hea hea hea"
"secu secu secu asidep"
"secb secb secb asidep"
"foo foo foo asidep";}

.headerpeliculas{grid-area: nav;}
.titulopeliculas{grid-area: hea;}
.seccionpeliculas{grid-area: secu;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;}
.seccionpeliculasb{grid-area: secb;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;}
section.asidep{grid-area: asidep;}
.footerpeliculas{grid-area: foo;}






                                         /*ESTILOS SECCION CONTACTO*/
.contactobordes{margin-bottom: 1em; border: 4px solid blue; color: blue;}

.bordemapa{border: 4px solid blue;display: inline-block;}





