.iconolocales,.iconocontacto,.iconotransporte{width: 70%;}
.iconolocales{border: solid;display: inline;}

.informacion{background-color: #f6f7f8;border-radius: 10px;padding: 10px;}

.col-transporte{background-color: white;border-radius: 10px;margin-right: 6em;margin-left: 3em;}

.col-locales{background-color: white;border-radius: 10px;margin-right: 6em;}

.col-contacto{background-color: white;border-radius: 10px;}

#carouselExampleCaptions{margin: 1em;}

