.icono-locales,.icono-contacto,.icono-envios{width: 70%;margin-left:2em}

.informacion{background-color: #f6f7f8;border-radius: 10px;padding: 10px; display: flex;justify-content: space-around;}

.col-envios{background-color: white;border-radius: 10px;}

.col-locales{background-color: white;border-radius: 10px;}

.col-contacto{background-color: white;border-radius: 10px;}

#carouselExampleCaptions{margin: 1em;}

