
//estilos redes sociales//
.redes-sociales{display: inline;color: black;background-color: white; border-radius: 5px;}
.unete{display:flex;justify-content: end;}
.redes-wrapper{background-color:#F6F7F8;padding: 1em;margin: 2em;border-radius: 5px;}

.contenedor-bgrowindex{background-color: black;margin: 2em;}
.bgrowindex {background-color: #eaedf0;border-radius: 10px;padding: 2%;display: flex;justify-content: space-around;}

