/*ASIDE*/

.regalo,.ofertatrilogia{position: absolute;margin-top: 5em;}               
.regalo{transition:all .8s}                 
.regalo:hover{opacity: 1%;}
.untext{margin-top: 7em;}
.regalo-dos{ position: relative; bottom:22em}
.regalo-dos:hover{animation: changeImage 5s;}
@keyframes changeImage {
    
    15%{opacity: 1%;}
    100%{opacity: 1%;}
}
.promo-dos{}