/*GRID INDEX*/
.contenedorgridindex{display: grid;grid-template-areas:
  "gridtitulouno gridtitulouno gridtitulouno asideindex" 
  "gridnovedades gridnovedades gridnovedades asideindex"
  "gridtitulodos gridtitulodos gridtitulodos asideindex"
  "gridmasvendidos gridmasvendidos gridmasvendidos asideindex"
  ;}

.gridtitulouno{grid-area: gridtitulouno;}
.gridnovedades{grid-area: gridnovedades;@extend %grid-extend;}
.gridtitulodos{grid-area: gridtitulodos;}
.gridmasvendidos{grid-area: gridmasvendidos;@extend %grid-extend;}
.asideindex{grid-area: asideindex; display:grid;grid-template-rows: 3fr 3fr 3fr 3fr;}