/*GRID INDEX*/
.contenedorgridindex{display: grid;grid-template-areas:
  "gridtitulouno gridtitulouno gridtitulouno asideindex" 
  "gridnovedades gridnovedades gridnovedades asideindex"
  "gridtitulodos gridtitulodos gridtitulodos asideindex"
  "gridmasvendidos gridmasvendidos gridmasvendidos asideindex"
  ;}

.gridtitulouno{grid-area: gridtitulouno;}
.gridnovedades{grid-area: gridnovedades;display: grid;grid-template-columns: 1fr 1fr 1fr;}
.gridtitulodos{grid-area: gridtitulodos;}
.gridmasvendidos{grid-area: gridmasvendidos;display: grid;grid-template-columns: 1fr 1fr 1fr;}
.asideindex{grid-area: asideindex;display: grid;grid-template-rows: 1fr 1fr 1fr 1fr;}