        /*HEADER*/
        header nav ul li{display: inline;}
        nav ul li a{font-size: 2em;text-decoration: none; color: blue;background-color:aqua;display:inline;padding-left: 2em; padding-right: 2em;}
                /*FIN HEADER*/
        
                /*COMIENZA BODY*/
        body{background-color:white;}
        @font-face {
            font-family: letradelbody;
            src: url(/Work_Sans/WorkSans-VariableFont_wght.ttf);}